<div class="login-page">
  <form>
    <div>
      <h1>Login</h1>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Digite seu email" required />
    </div>
    <div>
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" placeholder="Digite sua senha" required />
    </div>
    <div>
      <button type="submit">Logar</button>
    </div>
    <div>
      <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
      <p><a href="#">Esqueceu sua senha?</a></p>
    </div>
  </form>
</div>
