<div class="home">
  <div class="trailer">
    <video width="560" height="315" autoplay muted loop>
      <source src="/assets/TrailerTLOU.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="container">
    <h2 class="title">Continue assistindo</h2>
    <div class="card-group">
      <div class="card">
        <img src="/assets/friends.jpg" alt="Foto Fiends" class="card-img-top" />
      </div>

      <div class="card">
        <img
          src="/assets/modernfamily.jpg"
          alt="Foto Mordern Family"
          class="card-img-top"
        />
      </div>
      <div class="card">
        <img
          src="/assets/hp.jpeg"
          alt="Foto Harry Potter"
          class="card-img-top"
        />
      </div>
    </div>
  </div>
</div>
