.home {
  background-color: black;
}

.trailer {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.trailer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 20px;
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 25%;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.card-body {
  text-align: center;
  background-color: #fff;
  padding: 0;
  border: none;
}

.card-title,
.card-text {
  display: none;
}
