<div class="home">
  <div class="trailer">
    <video width="560" height="315" autoplay muted loop>
      <source src="/assets/TrailerTLOU.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="trailer-info">
    <div class="trailer-title">The Last of Us</div>
    <button class="watch-btn">Assistir</button>
  </div>
  <div class="container">
    <h2 class="title">Continue assistindo</h2>
    <div class="card-group">
      <a routerLink="/serie/friends" class="card">
        <img
          src="/assets/friends.jpg"
          alt="Foto Friends"
          class="card-img-top"
        />
      </a>
      <a routerLink="/serie/modern-family" class="card">
        <img
          src="/assets/modernfamily.jpg"
          alt="Foto Modern Family"
          class="card-img-top"
        />
      </a>
      <a routerLink="/serie/harry-potter" class="card">
        <img
          src="/assets/hp.jpeg"
          alt="Foto Harry Potter"
          class="card-img-top"
        />
      </a>
    </div>
  </div>
</div>
