<div class="card-serie-friends">
  <div class="trailer">
    <video width="560" height="315" autoplay muted loop>
      <source src="/assets/trailerMF.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="episode">
    <h2>Episódios - 1º Temporada</h2>
  </div>
  <div class="episode-list">
    <div class="episode-card">
      <img src="/assets/ep6.jpeg" alt="Episódio 1" />
      <h3>Episódio 1</h3>
    </div>
    <div class="episode-card">
      <img src="/assets/ep7.jpeg" alt="Episódio 2" />
      <h3>Episódio 2</h3>
    </div>
    <div class="episode-card">
      <img src="/assets/ep8.jpeg" alt="Episódio 3" />
      <h3>Episódio 3</h3>
    </div>
    <div class="episode-card">
      <img src="/assets/ep9.jpeg" alt="Episódio 4" />
      <h3>Episódio 4</h3>
    </div>
    <div class="episode-card">
      <img src="/assets/ep10.jpg" alt="Episódio 5" />
      <h3>Episódio 5</h3>
    </div>
  </div>
</div>
