<div class="menu">
  <div class="logo">
    <img src="assets/logo.gif" alt="Logo" title="logo" height="60px" />
  </div>
    <div class="buttons">
    <button routerLink="/home">Início</button>
    <button>Séries</button>
    <button>Filmes</button>
    <button>Bombando</button>
    <button>Minha lista</button>
    <button>Carregar por idiomas</button>
  </div>
  <div class="search">
    <input type="text" placeholder="Pesquisar..." />
    <button><i class="fa fa-search"></i></button>
  </div>
  </div>
