.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.logo {
  margin-left: 20px;
}

.buttons {
  display: flex;
  margin-left: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons button {
  margin-right: 10px;
  background: transparent;
  color: white;
  border: none;
}

.buttons button:hover {
  color: grey;
}

.search {
  display: flex;
  margin-right: 20px;
}

.search input {
  border: none;
  background-color: transparent;
  color: white;
}

.search button {
  border: none;
  background-color: transparent;
  color: white;
  margin-left: 5px;
}


