.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}


.buttons button:hover {
  color: gray;
}

.search {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  margin-right: 10px;
}

.search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search button i {
  color: gray;
  font-size: 18px;
}

.search button:hover i {
  color: white;
}
